@theme {
  --font-ballega: "ballega";
  --font-timeburner: "timeburner";
}

@layer base {
  @font-face {
    font-family: "timeburner";
    src: url("/fonts/timeburner.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "ballega";
    src: url("/fonts/ballega.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
}